@font-face {
  font-family: Montserrat;
  src: url("../Assests/Montserrat/Montserrat-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Montserrat-Medium;
  src: url("../Assests/Montserrat/Montserrat-Medium.woff2") format("woff2");
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../Assests/Montserrat/Montserrat-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: Montserrat-Light;
  src: url("../Assests/Montserrat/Montserrat-Light.woff2") format("woff2");
}
@font-face {
  font-family: Montserrat-Black;
  src: url("../Assests/Montserrat/Montserrat-Black.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #f8f8f9;
}
.main-section {
  width: 85%;
  padding-top: 150px;
  margin: auto;
}
.title {
  font-size: 20px;
  font-family: Montserrat-SemiBold;
  color: #3e0500;
  margin-bottom: 6px;
}
.line {
  height: 2.5px;
  width: 100px;
  background-color: #3e0500;
}
.footer {
  margin-bottom: 0;
}
